body {
  background-color: silver;
    margin-right: 500px;
  margin-left: 500px;
    font-family: verdana;
  font-size: 24x;

}

h1 {

	color: back;
  font-family: verdana;
  font-size: 24x;


}


p {

color: black;

  font-family: verdana;
  font-size: 24x;


}